---
layout: main
---

<h1> {{ site.name }} </h1>

<p>
  Goal of artifact evaluation (AE) is to recognize the authors who have put in the effort to release
  usable software systems as well as to validate the results of the accepted papers.

  sysartifacts gathers artifact evaluation results from CS system conferences.
</p>

<h2> Conference Artifact Evaluations </h2>

<dl>
  {% for c in site.conferences %}
  <dt>{{c.name}}</dt>
    {% for year in c.years %}
      <dd><a href="{{c.name | downcase}}{{year}}">{{year}}</a></dd>
    {% endfor %}
  {% endfor %}
</ul>
